<button class="btn btn-primary" (click)="open(content)">Launch Demo Modal</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Supplier List</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div *ngFor="let item of list">
      <div (click)="openNewModal(newModalContent, item)">
        {{ item.name }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #newModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Products for {{ selectedItem?.name }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="products.length > 0; else noProducts">
      <div *ngFor="let product of products">
        <p>{{ product.name }}</p>
        <!-- Loop through the childProducts array -->
        <div *ngFor="let childProduct of product.childProducts">
          <p>{{ childProduct.name }}</p>
        </div>
      </div>
    </div>
    <ng-template #noProducts>
      <p>No products available for this supplier.</p>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="goBackToPreviousModal()">Back</button>
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
