.app {
    &_suppliers {
      border-bottom: 1px solid #E5E5E5;
      padding: 10px;
      
      svg {
        width: 15px;
      }

      &:hover {
        background-color: #2F8DF8FC;
        color: #FFFFFF;
        cursor: pointer;

        svg {
            fill: #FFFFFF;
        }
      }

      p {
        margin-bottom: 0;
        padding: 10px;
      }

      &.highlight {
        background-color: #f5f5f5; // Highlight color
        color: #212529;

        p {
          padding-top: 0;
        }
      }

      &_products {
        border-top: 1px solid #E5E5E5;
        padding: 10px;

        p:first-child {
          padding-bottom: 0;
        }

        p:last-child {
          color: #7B7B7B;
          font-size: 12px;
          font-weight: 400;
        }
      }

      &_products:last-child {
        padding-bottom: 0;
      }
    }
  
    &_suppliers:last-child {
      border-bottom: none;  // Remove border-bottom for the last item
    }
}

.modal-header {
  display: block;

  div {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #7B7B7B;
}

.btn-close {
  font-size: 10px;
}

.modal-body {
    padding: 0 1rem;
}

.red-background {
  background-color: #f5f5f5;  /* Set the background color to red */
}

.highlight-search {
  background-color: #f5f5f5; // Highlight color
        color: #212529;
}

.highlight {
  background-color: #f5f5f5; // Highlight color
        color: #212529;
}
