<button class="btn btn-primary" (click)="open(content)">Launch Demo Modal</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title">Browse</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(); resetSearch()"></button>
    </div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterList()"
      class="form-control"
      placeholder="Search supplier"
    />
  </div>
  <div class="modal-body">
    <div *ngFor="let item of filteredList" class="app_suppliers">
      <div (click)="openNewModal(newModalContent, item)" style="display: flex; justify-content: space-between;">
        <div>{{ item.name }}</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z">
          </path>
        </svg>
      </div>
    </div>
    <div *ngIf="filteredList.length === 0">
      <p>No suppliers found.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close(); resetSearch()">Close</button>
  </div>
</ng-template>

<ng-template #newModalContent let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title">{{ selectedItem?.name }}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss(); resetSearch()"></button>
    </div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterProducts()"
      class="form-control"
      placeholder="Search products..."
    />
  </div>

  <div class="modal-body"> 
    <div *ngIf="filteredProducts.length > 0; else noProducts">
      <div
        *ngFor="let product of filteredProducts"
        class="app"
        [ngClass]="{ 
          'highlight': isHighlight(product) && (searchTerm || product.isExpanded),
          'red-background': (searchTerm && product.name.toLowerCase().includes(searchTerm.toLowerCase()) || searchTerm && shouldHighlightProduct(product)) && product.isExpanded
        }"
      >
        <div 
          (click)="toggleChildProducts(product)" 
          class="app_products"
          [ngClass]="{ 'no-fill-on-hover': product.isExpanded }">
          <p [innerHTML]="highlightText(product.name, searchTerm)"></p>
          
          <ng-container *ngIf="product.isExpanded; else collapsedIcon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path>
            </svg>
          </ng-container>
          <ng-template #collapsedIcon>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z"></path>
            </svg>
          </ng-template>
        </div>
        
        <!-- Only show child products if there is a search term or product is expanded -->
        <div *ngIf="searchTerm || product.isExpanded">
          <div
            *ngFor="let childProduct of product.childProducts"
            class="app_products_list_item"
            [ngClass]="{ 
              'highlight': childProduct === selectedProduct, 
              'highlight-search': childProduct.name.toLowerCase().includes(searchTerm.toLowerCase()) || 
                                  childProduct.sku.toLowerCase().includes(searchTerm.toLowerCase()),
              'red-background': childProduct === selectedProduct 
            }"
          >
            <div class="checkbox-container">
              <input 
                type="checkbox" 
                [checked]="childProduct.isChecked" 
                (change)="onCheckboxChange(childProduct, $event)" 
              />
            </div>
            <div>
              <p [innerHTML]="highlightText(childProduct.name, searchTerm)"></p>
              <p [innerHTML]="highlightText('SKU: ' + childProduct.sku, searchTerm)"></p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <ng-template #noProducts>
      <p>No products available for this supplier.</p>
    </ng-template>
  </div>  
  
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="goBackToPreviousModal(); resetSelectedProduct()">Back</button>
    <button class="btn btn-secondary" (click)="modal.close(); resetSearch()">Close</button>
  </div>
</ng-template>

