.app {
    &_suppliers, &_products {
      border-bottom: 1px solid #E5E5E5;
      padding: 10px;
      
      svg {
        width: 15px;
        fill: #c4c4c4;
      }

      &.no-fill-on-hover:hover {
        svg {
          fill: #c4c4c4 !important; /* Reset the fill */
        }
      }

      p {
        margin-bottom: 0;
        padding: 10px;
      }

      &.highlight {
        background-color: #f5f5f5; // Highlight color
        color: #212529;
        padding: 20px;

        div {
          padding-bottom: 10px;
        }

        div:last-child {
          padding-bottom: 0;
        }

        p {
          padding-top: 0;
          padding-left: 0;
        }
      }

      &_list {
        display: flex;
        justify-content: space-between;
        &_item {

          border-top: 1px solid #E5E5E5;
          padding: 10px;

          p {
            margin-bottom: 0;
          }
  
          p:first-child {
            padding-bottom: 0;
          }
  
          p:last-child {
            color: #7B7B7B;
            font-size: 12px;
            font-weight: 400;
          }
        }

        // &_item:last-child {
        //   padding-bottom: 0;
        // }
      }
    }
  
    &_suppliers:last-child {
      border-bottom: none;  // Remove border-bottom for the last item
    }

    &_suppliers {
      &:hover {
        background-color: #2F8DF8FC;
        color: #FFFFFF;
        cursor: pointer;

        svg {
            fill: #FFFFFF;
        }
      }
    }

    &_products {      
      display: flex;
      justify-content: space-between;
      &_list {
        &_item {
          padding: 20px;
        }
      }
    }
}

.modal-header {
  display: block;
  padding: 40px;
  padding-bottom: 24px;

  div {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #7B7B7B;
}

.btn-close {
  font-size: 10px;
}

.modal-body {
    padding: 0 40px;
}

.red-background {
  background-color: #f5f5f5;  /* Set the background color to red */
}

.highlight-search {
  background-color: #f5f5f5; // Highlight color
        color: #212529;
}

.highlight {
  background-color: #f5f5f5; // Highlight color
        color: #212529;
}

.no-fill-on-hover:hover {
  svg {
    fill: #c4c4c4 !important; /* Reset the fill */
  }
}